In [40]:
# Machine Learning for Cap Stone 1 
# Load data saved from Cap1 EDA
import pandas as pd
df = pd.read_csv('data_cap1_ml.csv', sep=',', header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774030 entries, 0 to 2774029
Data columns (total 18 columns):
Unnamed: 0                                   int64
BusinessYear                                 int64
StateCode                                    object
PlanId                                       object
RatingAreaId                                 object
Tobacco                                      object
Age                                          object
IndividualRate                               float64
IndividualTobaccoRate                        float64
Couple                                       float64
PrimarySubscriberAndOneDependent             float64
PrimarySubscriberAndTwoDependents            float64
PrimarySubscriberAndThreeOrMoreDependents    float64
CoupleAndOneDependent                        float64
CoupleAndTwoDependents                       float64
CoupleAndThreeOrMoreDependents               float64
PlanIdNew                                    object
MetalLevel                                   object
dtypes: float64(9), int64(2), object(7)
memory usage: 381.0+ MB

In [41]:
# Exam how many people for each age
df['Age'].value_counts()

52             60305
0-20           60305
35             60305
36             60305
37             60305
30             60305
31             60305
32             60305
33             60305
38             60305
39             60305
41             60305
53             60305
40             60305
43             60305
42             60305
45             60305
44             60305
47             60305
46             60305
49             60305
48             60305
34             60305
24             60305
25             60305
26             60305
50             60305
51             60305
56             60305
57             60305
54             60305
55             60305
58             60305
59             60305
64             60305
63             60305
62             60305
61             60305
60             60305
29             60305
28             60305
23             60305
22             60305
21             60305
27             60305
65 and over    60305
Name: Age, dtype: int64

In [45]:
# Only retrieve 5 columns from df dataframe

df_all = df[['StateCode', 'RatingAreaId', 'Age','MetalLevel','IndividualRate']].copy()

In [46]:
# change '0-20' to 10, '65 and above' to 70
# Change the Age column to int type
df_all['Age'].value_counts()
df_all['Age'] = df_all['Age'].str.replace('0-20','10')
df_all['Age'] = df_all['Age'].str.replace('65 and over','70')
df_all['Age'] = pd.to_numeric(df_all['Age'])
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774030 entries, 0 to 2774029
Data columns (total 5 columns):
StateCode         object
RatingAreaId      object
Age               int64
MetalLevel        object
IndividualRate    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 105.8+ MB

In [47]:
# Use dummpy variables for MetalLevel 
df_all['MetalLevel'].value_counts()
Metal_dummy = pd.get_dummies(df_all['MetalLevel'])
print(Metal_dummy)

         Bronze  Catastrophic  Gold  Platinum  Silver
0             0             0     1         0       0
1             0             0     1         0       0
2             0             0     1         0       0
3             0             0     1         0       0
4             1             0     0         0       0
5             1             0     0         0       0
6             0             0     1         0       0
7             0             0     1         0       0
8             0             0     1         0       0
9             0             0     1         0       0
10            0             0     1         0       0
11            0             0     1         0       0
12            0             0     1         0       0
13            0             0     1         0       0
14            1             0     0         0       0
15            1             0     0         0       0
16            0             0     1         0       0
17            0             0     1         0       0
18            0             0     1         0       0
19            0             0     1         0       0
20            0             0     1         0       0
21            0             0     1         0       0
22            0             0     1         0       0
23            0             0     1         0       0
24            1             0     0         0       0
25            1             0     0         0       0
26            0             0     1         0       0
27            0             0     1         0       0
28            0             0     1         0       0
29            0             0     1         0       0
...         ...           ...   ...       ...     ...
2774000       1             0     0         0       0
2774001       1             0     0         0       0
2774002       1             0     0         0       0
2774003       1             0     0         0       0
2774004       1             0     0         0       0
2774005       1             0     0         0       0
2774006       1             0     0         0       0
2774007       1             0     0         0       0
2774008       1             0     0         0       0
2774009       1             0     0         0       0
2774010       1             0     0         0       0
2774011       1             0     0         0       0
2774012       1             0     0         0       0
2774013       1             0     0         0       0
2774014       1             0     0         0       0
2774015       1             0     0         0       0
2774016       1             0     0         0       0
2774017       1             0     0         0       0
2774018       1             0     0         0       0
2774019       1             0     0         0       0
2774020       1             0     0         0       0
2774021       1             0     0         0       0
2774022       1             0     0         0       0
2774023       1             0     0         0       0
2774024       1             0     0         0       0
2774025       1             0     0         0       0
2774026       1             0     0         0       0
2774027       1             0     0         0       0
2774028       1             0     0         0       0
2774029       1             0     0         0       0

[2774030 rows x 5 columns]

In [48]:
df_all = pd.concat([df_all, Metal_dummy], axis = 1) 
df_all.head()

,StateCode,RatingAreaId,Age,MetalLevel,IndividualRate,Bronze,Catastrophic,Gold,Platinum,Silver
0,AK,Rating Area 1,10,Gold,333.10,0,0,1,0,0
1,AK,Rating Area 1,10,Gold,337.63,0,0,1,0,0
2,AK,Rating Area 1,10,Gold,342.22,0,0,1,0,0
3,AK,Rating Area 1,10,Gold,346.87,0,0,1,0,0
4,AK,Rating Area 1,10,Bronze,209.00,1,0,0,0,0

In [49]:
# All states have about 60 rating areas
df_all['RatingAreaId'].value_counts()

Rating Area 1     224848
Rating Area 3     206310
Rating Area 2     205666
Rating Area 4     203872
Rating Area 5     190624
Rating Area 6     163760
Rating Area 7     139518
Rating Area 8     113482
Rating Area 11     99682
Rating Area 15     98026
Rating Area 10     97796
Rating Area 12     93196
Rating Area 9      91126
Rating Area 14     90804
Rating Area 13     83030
Rating Area 16     74152
Rating Area 17     53958
Rating Area 30     36846
Rating Area 64     33488
Rating Area 26     23322
Rating Area 24     19596
Rating Area 19     19550
Rating Area 20     17572
Rating Area 18     17020
Rating Area 25     16882
Rating Area 22     16560
Rating Area 21     16422
Rating Area 23     16422
Rating Area 43     15456
Rating Area 57     14582
                   ...
Rating Area 45     12374
Rating Area 37     12098
Rating Area 27     12052
Rating Area 36     11914
Rating Area 29     11638
Rating Area 38     11638
Rating Area 32     11638
Rating Area 44     11408
Rating Area 31     11362
Rating Area 33     11362
Rating Area 39     11362
Rating Area 50      5796
Rating Area 53      3910
Rating Area 52      3910
Rating Area 51      3910
Rating Area 49      3910
Rating Area 48      3910
Rating Area 56      3634
Rating Area 60      3358
Rating Area 58      3220
Rating Area 59      3220
Rating Area 55      3174
Rating Area 66      2944
Rating Area 47      2806
Rating Area 61      2530
Rating Area 54      2070
Rating Area 67      1794
Rating Area 63      1794
Rating Area 65      1794
Rating Area 62      1794
Name: RatingAreaId, Length: 67, dtype: int64

In [51]:
df_all['RatingAreaId'] = df_all['RatingAreaId'].astype('category')
rating_dummy = pd.get_dummies(df_all['RatingAreaId'])
print(rating_dummy.head())

   Rating Area 1  Rating Area 10  Rating Area 11  Rating Area 12  \
0              1               0               0               0
1              1               0               0               0
2              1               0               0               0
3              1               0               0               0
4              1               0               0               0

   Rating Area 13  Rating Area 14  Rating Area 15  Rating Area 16  \
0               0               0               0               0
1               0               0               0               0
2               0               0               0               0
3               0               0               0               0
4               0               0               0               0

   Rating Area 17  Rating Area 18      ...        Rating Area 61  \
0               0               0      ...                     0
1               0               0      ...                     0
2               0               0      ...                     0
3               0               0      ...                     0
4               0               0      ...                     0

   Rating Area 62  Rating Area 63  Rating Area 64  Rating Area 65  \
0               0               0               0               0
1               0               0               0               0
2               0               0               0               0
3               0               0               0               0
4               0               0               0               0

   Rating Area 66  Rating Area 67  Rating Area 7  Rating Area 8  Rating Area 9
0               0               0              0              0              0
1               0               0              0              0              0
2               0               0              0              0              0
3               0               0              0              0              0
4               0               0              0              0              0

[5 rows x 67 columns]

In [52]:
# Merge df_AK with dummy dataframe
df_all = pd.concat([df_all, rating_dummy], axis = 1) 
df_all.head()

,StateCode,RatingAreaId,Age,MetalLevel,IndividualRate,Bronze,Catastrophic,Gold,Platinum,Silver,...,Rating Area 61,Rating Area 62,Rating Area 63,Rating Area 64,Rating Area 65,Rating Area 66,Rating Area 67,Rating Area 7,Rating Area 8,Rating Area 9
0,AK,Rating Area 1,10,Gold,333.10,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AK,Rating Area 1,10,Gold,337.63,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AK,Rating Area 1,10,Gold,342.22,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AK,Rating Area 1,10,Gold,346.87,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AK,Rating Area 1,10,Bronze,209.00,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774030 entries, 0 to 2774029
Data columns (total 77 columns):
StateCode         object
RatingAreaId      category
Age               int64
MetalLevel        object
IndividualRate    float64
Bronze            uint8
Catastrophic      uint8
Gold              uint8
Platinum          uint8
Silver            uint8
Rating Area 1     uint8
Rating Area 10    uint8
Rating Area 11    uint8
Rating Area 12    uint8
Rating Area 13    uint8
Rating Area 14    uint8
Rating Area 15    uint8
Rating Area 16    uint8
Rating Area 17    uint8
Rating Area 18    uint8
Rating Area 19    uint8
Rating Area 2     uint8
Rating Area 20    uint8
Rating Area 21    uint8
Rating Area 22    uint8
Rating Area 23    uint8
Rating Area 24    uint8
Rating Area 25    uint8
Rating Area 26    uint8
Rating Area 27    uint8
Rating Area 28    uint8
Rating Area 29    uint8
Rating Area 3     uint8
Rating Area 30    uint8
Rating Area 31    uint8
Rating Area 32    uint8
Rating Area 33    uint8
Rating Area 34    uint8
Rating Area 35    uint8
Rating Area 36    uint8
Rating Area 37    uint8
Rating Area 38    uint8
Rating Area 39    uint8
Rating Area 4     uint8
Rating Area 40    uint8
Rating Area 41    uint8
Rating Area 42    uint8
Rating Area 43    uint8
Rating Area 44    uint8
Rating Area 45    uint8
Rating Area 46    uint8
Rating Area 47    uint8
Rating Area 48    uint8
Rating Area 49    uint8
Rating Area 5     uint8
Rating Area 50    uint8
Rating Area 51    uint8
Rating Area 52    uint8
Rating Area 53    uint8
Rating Area 54    uint8
Rating Area 55    uint8
Rating Area 56    uint8
Rating Area 57    uint8
Rating Area 58    uint8
Rating Area 59    uint8
Rating Area 6     uint8
Rating Area 60    uint8
Rating Area 61    uint8
Rating Area 62    uint8
Rating Area 63    uint8
Rating Area 64    uint8
Rating Area 65    uint8
Rating Area 66    uint8
Rating Area 67    uint8
Rating Area 7     uint8
Rating Area 8     uint8
Rating Area 9     uint8
dtypes: category(1), float64(1), int64(1), object(2), uint8(72)
memory usage: 277.8+ MB

In [61]:
df_all.keys()

Index([u'StateCode', u'RatingAreaId', u'Age', u'MetalLevel', u'IndividualRate',
       u'Bronze', u'Catastrophic', u'Gold', u'Platinum', u'Silver',
       u'Rating Area 1', u'Rating Area 10', u'Rating Area 11',
       u'Rating Area 12', u'Rating Area 13', u'Rating Area 14',
       u'Rating Area 15', u'Rating Area 16', u'Rating Area 17',
       u'Rating Area 18', u'Rating Area 19', u'Rating Area 2',
       u'Rating Area 20', u'Rating Area 21', u'Rating Area 22',
       u'Rating Area 23', u'Rating Area 24', u'Rating Area 25',
       u'Rating Area 26', u'Rating Area 27', u'Rating Area 28',
       u'Rating Area 29', u'Rating Area 3', u'Rating Area 30',
       u'Rating Area 31', u'Rating Area 32', u'Rating Area 33',
       u'Rating Area 34', u'Rating Area 35', u'Rating Area 36',
       u'Rating Area 37', u'Rating Area 38', u'Rating Area 39',
       u'Rating Area 4', u'Rating Area 40', u'Rating Area 41',
       u'Rating Area 42', u'Rating Area 43', u'Rating Area 44',
       u'Rating Area 45', u'Rating Area 46', u'Rating Area 47',
       u'Rating Area 48', u'Rating Area 49', u'Rating Area 5',
       u'Rating Area 50', u'Rating Area 51', u'Rating Area 52',
       u'Rating Area 53', u'Rating Area 54', u'Rating Area 55',
       u'Rating Area 56', u'Rating Area 57', u'Rating Area 58',
       u'Rating Area 59', u'Rating Area 6', u'Rating Area 60',
       u'Rating Area 61', u'Rating Area 62', u'Rating Area 63',
       u'Rating Area 64', u'Rating Area 65', u'Rating Area 66',
       u'Rating Area 67', u'Rating Area 7', u'Rating Area 8',
       u'Rating Area 9'],
      dtype='object')

In [56]:
# import modules for machine learning

%matplotlib inline 
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [64]:
df_all.shape

(2774030, 77)

In [76]:
# Specify features and labels 
X = df_all.drop(['StateCode', 'RatingAreaId', 'MetalLevel','IndividualRate'], axis=1).values
y = df_all['IndividualRate'].values

In [77]:
# Split into training and test sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)

In [78]:
# Create the regressor: reg_all
reg_all = LinearRegression()

# Fit the regressor to the training data
reg_all.fit(X_train, y_train)

# Predict on the test data: y_pred
y_pred = reg_all.predict(X_test)

# Compute and print R^2 and RMSE
print("R^2: {}".format(reg_all.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

R^2: 0.717498318061
Root Mean Squared Error: 121.857337054